body {
  background: burlywood;
  font-family: cursive;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 90%;
  width: 90%;
  background: bisque;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  padding: 8px;
  border-radius: 8px;
  background: #000;
  color: #fff;
}

button {
  border: none;
  background: peachpuff;
  border-radius: 5px;
  font-size: 18px;
  font-family: cursive;
  cursor: pointer;
  transition: 0.3s;
}

button:active {
  transform: scale(1.06);
}

section.cards {
  background: rgb(170, 164, 164);
  border-radius: 8px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.card-item * {
  margin: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 150px;
  font-size: 15px;
  background-color: rgb(198, 201, 198);
  border-radius: 8px;
  margin: 8px;
}

.card-item h2 {
  font-size: 20px;
}

.card-item .read {
  background: green;
  color: aliceblue;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

.not-read {
  background: rgb(214, 39, 39);
  color: aliceblue;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

dialog {
  background: transparent;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

form {
  border: 1px solid rgb(233, 215, 215);
  background: burlywood;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 300px;
  padding: 10px;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form div label {
  color: rgb(128, 95, 5);
}

form div #read-value {
  width: 50px;
}

form div input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  outline: none;
}

form .submit {
  align-self: center;
}

/* MEDIA QUERY TO HANDLE RESPONSIVENESS */
@media screen and (min-width: 1000px) {
  main {
    height: 70%;
    width: 70%;
  }
}
